body{
  font-family: 'Montserrat', sans-serif;
}

.bg-dark{
  background-color: #006570 !important;
}

.navbar-brand{
  color: #00D9F0 !important;
  font-size: 2em !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900italic;
  font-style: italic;
}

.login{
  float: right;
}

.hide{
  display: none;
}